<div class="box px-1 py-1 mb-1">
  <div class="column is-centered has-text-centered">
    <turbo-frame id="<%= dom_id list %>">
      <h4 class="title is-4 field is-grouped">
        <span>
          <%= link_to list.title, list, :class => "has-text-info-dark",
          data: { "turbo-frame": "_top" } %>
        </span>
        <span class="pl-4 pr-4">
          <%= button_to "", list_path(list), 
          method: :delete, :class => "delete", 
          data: { "turbo-frame": "_top" } %>
        </span>
      </h4>
      <div class="column is-centered">
        <%= button_to Constants::RENAME[@lang], edit_list_path(list), 
        method: :get, :class => "button is-small" %>
      </div>
    </turbo-frame>
  </div>
</div>
