<%= form_with(model: list) do |form| %>
  <div class="field is-grouped">
    <%= form.text_field :title, placeholder: "Создать список", :class => "input" %>
    <%= form.submit "Сохранить", :class => "button" %>
  </div>
<% end %>