<div class="block mt-6 mb-6">
  <div class="columns is-centered">
    <h2 class="title is-2">
      ToDo lists
    </h2>
  </div>
</div>
<div class="columns is-centered mt-6 mb-6">
  <%= render "new_list", list: @list %>
</div>
<div class="columns is-centered mt-6 mb-6">
  <div id="lists" class="columns is-centered">

      <%= render @lists %>

  </div>
</div>


