<div class="block mt-6 mb-6">
  <h3 class="title is-3 has-text-info-dark">
    <%= @list.title %>
  </h3>
</div>
<div data-controller="items" class="column is-one-quarter is-left mt-6 mb-4">
  <div class="box">
    <%= render @list.items %>
    <div class="column is-left">
      <%= render "items/new_item" %>
    </div>
  </div>
</div>
<div class="column is-left is-one-quarter">
  <div class="tag is-large has-text-info-dark">
    <%= link_to Constants::BACK[@lang], lists_path %>
  </div>
</div>
