List <%= @list.title %><br>
<% @list.items.each do |item| %>
  <div data-controller="items">
    <%= render "items/item", item: item %>
  </div>
<% end %>
<div>
  <%= render "items/new_item" %>
</div>
