<div class="block">
  <div class="field is-grouped">
    <%= form_with model: @list, scope: item do |form| %>
      <span class="pl-4 pr-4">
        <%= form.check_box :checked, data: { id: item.id, action: "items#toggle" } %>
      </span>
      <span class="pl-4 pr-4">
        <%= item.title %>
      </span>
    <% end %>
    <%= button_to "", list_item_path(@list.id, item.id), method: :delete,
      :class => "delete" %>
  </div>
</div>
