<%= form_with model: [ @list, @list.items.build ] do |form| %>
  <div class="field is-grouped">
    <%= form.text_field :title, placeholder: Constants::NEW_ITEM[@lang], :class => "input" %>
    <%= form.submit Constants::SAVE[@lang], :class => "button" %>
  </div>
<% end %>