<%= form_with model: [ @list, @list.items.build ] do |form| %>
  <div class="field is-grouped">
    <%= form.text_field :title, placeholder: "Новая задача", :class => "input" %>
    <%= form.submit "Сохранить", :class => "button" %>
  </div>
<% end %>