<%= form_with model: [ @list, @list.items.build ] do |form| %>
  <div class="field is-grouped">
    <%= form.text_field :title, placeholder: "Add new item", :class => "input" %>
    <%= form.submit "Save", :class => "button" %>
  </div>
<% end %>